.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 5px;
}

.container {
    box-shadow: 5px 5px 5px rgb(201, 199, 199);
}

.nav-link {
    display: flex;
    gap: 20px;
}

.nav-link li {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-link a:hover {
    color: #004990;
}

.flex-end {
    gap: 8px;
}

.icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(32, 96, 165, 1);
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(32, 96, 165, 0.2);
    box-shadow: 2px 2px 2px rgb(206, 202, 202);
    transition: 0.3s;
}

.marker {
    position: absolute;
    background-color: #004990;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -5px;
}

.logo {
    height: 60px;
    width: auto;
}


.hamburger {
    display: none;
    cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {

    .nav-link {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-link.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .flex-end {
        display: none;
    }

    .logo {
        height: 50px;
    }
}